*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("Image/bg5.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

#game-area{
    width: 65%;
    height: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(16% - 10px);
    height: calc(39% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card-active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip{
    transform: rotateY(180deg);
}

.front{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    border: 2px solid orangered;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    }

.back{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: black ;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid orangered;
    object-fit: contain;
    backface-visibility: hidden;
    }
.flipped-back{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid orangered;
    object-fit: contain;
}

header {
    text-align: center;
    color: orangered;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
    font-size: 55px;
    font-weight: bolder;
    height: 155px;
    width: 100%;
}

footer{
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
    width: 100%;
    padding: 10px;
    word-spacing: 25px;
}

.stats-container{
    height: 680px;
    width: 200px;
    padding-top: 20px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}

.life-bar{
    height: 675px;
    width: 200px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}


.label{
    width: 200px;
    position: relative;
    z-index: 1;
    left: 0;
    top:18.8%;
    padding-top: 20px;
    text-align: center;
    vertical-align: bottom;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
    display: block;
}

.accuracy{
    width: 200px;
    position: relative;
    display: block;
    z-index: 1;
    left: 0;
    padding-top: 40px;
    text-align: center;
    vertical-align: bottom;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}

.attempts{
    width: 200px;
    position: relative;
    display: block;
    z-index: 1;
    left: 0;
    padding-top: 40px;
    text-align: center;
    vertical-align: bottom;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow: -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}

button{
    margin-top: 130px;
    margin-left: -8px;
    cursor: pointer;
    height: 60px;
    width: 185px;
    border: 4px solid dimgrey;
    background-color: darkred;
    color: whitesmoke;
    font-weight: bold;
    margin-right: -5px;
    border-radius: 10px;
}


a {
    cursor: pointer;
}

#life{
    transform: rotate(270deg);
    margin-top: 200px;
    border: 3px solid yellow;
}
progress{
    color: blue;
}

#audio_player {
    height: 25px;
    width: 180px;
    vertical-align: center;
    margin-right: -3px;
}


.win{
    background-image: url(Image/win.gif);
    position: absolute;
    height:100%;
    width: 100%;
    background-size: 70% 70%;
    left: 15%;
    top: 20%;
    background-position: cover;
    background-repeat: no-repeat;
}

.gameover{
    background-image: url(Image/ko.gif);
    position: absolute;
    height:100%;
    width: 100%;
    background-size: 70% 70%;
    left: 15%;
    top: 20%;
    background-position: cover;
    background-repeat: no-repeat;
}